services:
  app:
    image: gorzdrav_spb_bot
    container_name: gorzdrav-spb-app
    restart: unless-stopped
    build:
      context: ./
      dockerfile: ./Dockerfile
    env_file:
      - .env
    environment:
      - JAVA_TOOL_OPTIONS=-Duser.timezone=Europe/Moscow
      - TZ=Europe/Moscow
    # Монтируем сгенерённый файл свойств внутрь контейнера
    volumes:
      - ./application.properties:/config/application.properties:ro

    depends_on:
      - dummy

    networks:
      shared:
        aliases:
          - db    # на общей сети «shared_db_net» имя «db» резолвится на этот контейнер

  dummy:
    image: busybox
    command: ["sh", "-c", "while true; do sleep 3600; done"]
    networks:
      - shared

networks:
  shared:
    external: true
    name: shared_db_net